---
layout: default
---
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                {% include person.html name="Caro Meysmans" %}
            </div>
            <div class="column is-4">
                {% include person.html name="Pieter De Geest" %}
            </div>
        </div>
        <div class="columns">
            <div class="column is-8 is-offset-4">
                <div class="is-divider"></div>
                <form>
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Voornaam</label>
                                <div class="control">
                                    <input class="input" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Naam</label>
                                <div class="control">
                                    <input class="input" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">E-mail</label>
                                <div class="control">
                                    <input class="input" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Telefoon</label>
                                <div class="control">
                                    <input class="input" type="tel">
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label class="label">Bericht</label>
                                <div class="control">
                                    <textarea class="textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary">Verzenden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
