---
layout: default
---
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Onder Ons
            </h1>
            <h2 class="subtitle">
                Ons enige echte tweemaandelijks tijdschrift
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-4">
                {% for tijdschrift in site.data.tijdschriften %}
                    {% include file.html title=tijdschrift.titel date=tijdschrift.datum description=tijdschrift.beschrijving %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
