<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Afdelingen
            </h1>
            <h2 class="subtitle">
                Orde in de chaos...
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li {% if include.afdeling == "speelclub" %} class="is-active"{% endif %}>
                        <a href="{{ base }}/praktisch/afdelingen/speelclub.html">Speelclub</a>
                    </li>
                    <li {% if include.afdeling == "rakwi" %} class="is-active"{% endif %}>
                        <a href="{{ base }}/praktisch/afdelingen/rakwi.html">Rakwi's</a>
                    </li>
                    <li {% if include.afdeling == "tito" %} class="is-active"{% endif %}>
                        <a href="{{ base }}/praktisch/afdelingen/tito.html">Tito's</a>
                    </li>
                    <li {% if include.afdeling == "keti" %} class="is-active"{% endif %}>
                        <a href="{{ base }}/praktisch/afdelingen/keti.html">Keti's</a>
                    </li>
                    <li {% if include.afdeling == "aspi" %} class="is-active"{% endif %}>
                        <a href="{{ base }}/praktisch/afdelingen/aspi.html">Aspi's</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        {% assign afdeling = site.data.afdelingen[include.afdeling] %}
        <div class="columns">
            <div class="column is-4">
                <h1 class="title">{{ afdeling.naam }}</h1>
                <p class="has-text-justified">
                {{ afdeling.beschrijving }}
                </p>
            </div>
            <div class="column is-8">
                <div class="columns is-multiline">
                    {% for leider in afdeling.leiding %}
                    <div class="column is-4">
                        {% include person.html name=leider.naam telephone=leider.telefoon email=leider.email facebook=leider.facebook %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
