<div class="box">
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ include.title }}</strong> <small>{{ include.date }}</small>
                    <br>
                    {{ include.description }}
                </p>
            </div>
        </div>
        <div class="media-right">
            <a><span class="icon is-small"><i class="fa fa-download"></i></span></a>
        </div>
    </article>
</div>
