<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ base }}">
                Chiro Liedekerke
            </a>
            <div class="navbar-burger" data-target="navbar-mobile">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbar-mobile" class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <a class="navbar-item">
                    Nieuws
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Praktisch
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Afdelingen
                        </a>
                        <a class="navbar-item">
                            Locatie
                        </a>
                        <a class="navbar-item">
                            Uniform
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Binnenlands Bivak
                        </a>
                        <a class="navbar-item">
                            Buitenlands Bivak
                        </a>
                    </div>
                </div>
                <a class="navbar-item">
                    Onder Ons
                </a>
                <a class="navbar-item">
                    Fotogalerij
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Inschrijven
                    </a>
                    <div class="navbar-dropdown">
			<a class="navbar-item" href="{{ base }}/inschrijven/lidmaatschap.html">
                            Lidmaatschap
                        </a>
                        <hr class="navbar-divider">
                        <div class="navbar-item">
                            Binnenlands Bivak
                        </div>
                        <div class="navbar-item">
                            Buitenlands Bivak
                        </div>
                    </div>
                </div>
		<a class="navbar-item" href="{{ base }}/contact.html">
                    Contact
                </a>
            </div>
        </div>
    </div>
</nav>
